<form [formGroup]="form" (ngSubmit)="onsub()" class="custom-form">
  <mat-form-field appearance="fill">
    <mat-label>CIN</mat-label>
    <input matInput placeholder="Enter CIN" formControlName="cin">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput placeholder="Enter Nom" formControlName="nom">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CV</mat-label>
    <input matInput placeholder="Enter CV" formControlName="cv">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <input matInput placeholder="Enter Type" formControlName="type">
  </mat-form-field>

  <button mat-raised-button color="primary">
    <mat-icon>send</mat-icon>
    Envoyer
  </button>
</form>
